# Flutter
frontend/.dart_tool/
frontend/build/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies
frontend/.packages
frontend/pubspec.lock

# VS Code
.vscode/

# System files
.DS_Store
*.log

# Env
*.env
